*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/vendor/bundle
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
rdoc
.yardoc
.bundle
pkg
.DS_Store
*.swp
.svn
certreq.csr
build
bin
*keystore

# Ignore .idea directory (created by RubyMine)
.idea

# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore the LDAP configuration file
config/ldap.yml