<div>
  <%= image_tag show_display_attachment_dataset_path(@dataset, :ift => instrument_file_type_id('Aperio Slide Thumbnail')), 
    :size => '300x400',
    :alt => 'Aperio Slide Thumbnail' %>
  <%= image_tag show_display_attachment_dataset_path(@dataset, :ift => instrument_file_type_id('Aperio Label Thumbnail')), 
    :size => '300x400',
    :alt => 'Aperio Label Thumbnail' %>
</div>
