<p>Hi <%= @user.first_name %> <%= @user.last_name  %>,</p>

<p>You made a request for access to the ACData System. Your request has been rejected. Please contact the ACData team for further information.</p>

