<p>You have made a slide scanning service request with the following details:</p>
<%= render :partial => 'notifier/slide_scanning_details', :locals => { :user => @user, :project => @project, :params => @params } %>
