<p>Hi <%= @user.first_name %> <%= @user.last_name %>,<p/>

<p>You made a request for access to the ACData System. Your request is currently being processed. If you do not receive an update on the approval process after 48 hours, please contact <a href="mailto:acdata@unsw.edu.au">acdata@unsw.edu.au</a>.</p>
  

