<p>A slide scanning service request has been made by <%= @user.full_name %> with the following details:</p>

<%= render :partial => 'notifier/slide_scanning_details', :locals => { :user => @user, :project => @project, :params => @params } %>
