<div id="container_left_navigation">
    <div class="horWrapper clearfix">
        <div id="project_nav" class="content">          
          <ul class="expandable collapsible truncate" id="project_list">
            <% if @projects.present? %>
              <h3>Projects you own:</h3>
              <% @projects.each do |project| %>
                <%= render :partial => "shared/list_project", :locals => {:project => project, :project_class => 'project_owner'} %>
              <% end %>
            <% end %>
            <% if @collaborations.present? %>
              <h3>Projects you are collaborating on:</h3>
              <% @collaborations.each do |project| %>
                <%= render :partial => "shared/list_project", :locals => {:project => project, :project_class => 'project_collaborator'} %>
              <% end %>
            <% end %>
            <% if @viewerships.present? %>
              <h3>Projects you are a member of:</h3>
              <% @viewerships.each do |project| %>
                <%= render :partial => "shared/list_project", :locals => {:project => project, :project_class => 'project_member'} %>
              <% end %>
            <% end %>
          </ul>
          
        </div>
        
          <div id="project_actions">
            <%= link_to '<span>New Project</span>'.html_safe, new_project_path, {:remote => true, :id => 'show_new_project_wizard', :class => 'button blue add'} %>
          </div>
      </div>
</div>
